<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Redemption on Rails</h1>
      </div>
      <div class="panel-footer">
        <p>For all those who've sinned, there lies... Redemption</p>
        <a href="/clients">Open client...</a>
      </div>
    </div>
  </div>
</div>