<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Redemption on Rails</h1>
      </div>
      <div class="panel-body">For all those who've sinned, there lies... Redemption</div>
    </div>
  </div>
</div>