<div class="row" ng-controller="editCharacter">
  <div class="col-sm-6">
    <div class="panel panel-default">
    	<div class="panel-heading">
    		<h2>Edit <%= @character.name %></h2>
    	</div>
    	<div class="panel-body">
              <h3 class="text-center">Name</h3>
              <input type="text" ng-model="character.name" class="form-control">

              <h3 class="text-center">Short</h3>
              <input type="text" ng-model="character.short" class="form-control">

              <h3 class="text-center">Long</h3>
              <input type="text" ng-model="character.long" class="form-control">

              <h3 class="text-center">Keywords</h3>
              <input type="text" ng-model="character.keywords" class="form-control">

            <!-- admin always have access to class options -->

              <h3 for="" class="text-center">Class</h3>
            <% if current_user.role == "immortal" %>
              <select ng-model="character.char_class" ng-options="o for o in [null, 'Thief']"></select>
            <% else %>
              <!-- show class select on NEW character only -->
              <select class="form-control" ng-show="!character.id" ng-model="character.char_class" ng-options="o for o in ['Thief']"></select>
              <span ng-show="character.id">{{ character.char_class }}</span>
            <% end %>

              <h3 for="" class="text-center">Description</h3>
              <input type="text" class="form-control" ng-model="character.description">
            <!-- stats, inventory and equipment are not settable by players, should have defaults -->
            <% if current_user.role == "immortal" %>
            <label for="" class="control-label">Stats</label>
            <table>
              <tbody>
                <tr ng-repeat="(k, v) in character.stat track by $index">
                  <th>{{ k }}</th>
                  <td><input type="number" ng-model="character.stat[k]"></td>
                </tr>
              </tbody>
            </table>
            <br>
            <label for="" class="control-label">Inventory</label>
            <div ng-repeat="inventory_item in character.inventory_items" class="input-group">
              <select name="" id="" ng-model="inventory_item.item_id" class="form-control" ng-options="item.id as item.name for item in items"></select>
              <span class="input-group-btn" ng-click="destroy(inventory_item);">
                <span class="btn btn-default" ng-class="{'btn-danger' : inventory_item._destroy}">
                  <span class="glyphicon glyphicon-remove"></span>
                </span>
              </span>
            </div>
            <span class="btn btn-primary" ng-click="add(character.inventory_items);">Add Item</span>
            <br>

            <label for="" class="control-label">Equipment</label>
            <div ng-repeat="(slot, item) in character.equipment track by $index" class="input-group">
              <label for="" class="control-label">{{ slot }}</label>
              <select name="" id="" ng-model="character.equipment[slot]" class="form-control" ng-options="item.id as item.name for item in items"></select>
            </div><br>
            <% end %>

            <!-- only accessible to immortals and new character creation screen -->
            <h3 class="text-center">
              Skills
              <br>
              <small>
                <strong>Creation Points:</strong> {{ creationPoints() }}
              </small>
            </h3>
            <% if current_user.role == "immortal" || !@character.id %>
              <ul class="list-group skills-list" ui-sortable="sortableOptions" ng-model="character.skills">
                <li class='list-group-item' ng-if="character.skills.length <= 0">Drag skills here to add them to your character.</li>
                <li class='list-group-item skill' ng-repeat="skill in character.skills">
                  <h4 class="list-group-item-heading">{{ skill.name }}</h4>
                  <p class="list-group-item-body">
                    <strong>Level:</strong> {{ skill.level }}
                    <strong>Creation Points:</strong> {{ skill.cp }}
                  </p>
                </li>
              </ul>
            <% else %>
            <ul class="list-group">
              <li class="list-group-item text-center" ng-repeat="skill in character.skills">
                <h4 class="list-group-item-heading">{{ skill.name }}</h4>
                <p class="list-group-item-body">
                  <strong>Level:</strong> {{ skill.level }}
                  <strong>Creation Points:</strong> {{ skill.cp }}
                </p>
              </li>
            </ul>  
            <% end %>
    	</div>
      <div class="panel-footer">
          <div class="panel-footer"><span class="btn btn-default" ng-click="save();">Save</span></div>
      </div>
    </div>
    <input type="hidden" value="<%= @character.id %>" id="characterId">
  </div>
  <% if current_user.role == "immortal" || !@character.id %>
    <div class="col-sm-6">
      <h3>Skills</h3>
      <ul class='list-group skills-list' ui-sortable="sortableOptions" ng-model="skills">
        <li class='list-group-item skill' ng-repeat="skill in skills track by $index">
          <h4 class="list-group-item-heading">{{ skill.name }}</h4>
          <p class="list-group-item-body">
            <strong>Level:</strong> {{ skill.level }}
            <strong>Creation Points:</strong> {{ skill.cp }}
          </p>
        </li>
        <li class='list-group-item text-warning'>Drag skills back here to remove them from your character.</li>
      </div>
    </div>
  <% end %>
</div>