<h1>Edit Character</h1>
<%= form_for @character, url: character_path(@character), method: :patch do |f| %>
  <div class="input-group">
		<%= render partial: "shared/form", locals: {f: f} %>
  </div>
<% end %>