<h1>New Character</h1>
<%= form_for :character, url: characters_path do |f| %>
	<%= f.select :class, [nil, "Thief"], {}, {class: 'form-control'} %>
	<%= render partial: "shared/form", locals: {f: f} %>
<% end %>