<div class="row" ng-controller='editRoom'>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">{{ room.name }}</div>
      <div class="panel-body">
        <p>{{ room.description }}</p>
        <p>
          <span class="text-primary" ng-repeat="mobile in room.mobiles">{{ mobile.name }} </span>
        </p>
      </div>
    </div>
  </div>
  <input type="hidden" value="<%= @room.id %>" id="roomId">
</div>