<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item text-center">
        <h1><%= @area_name %></h1>
      </li>
      <li class="list-group-item text-right">
        <a href="/rooms/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add New</a>
      </li>

      <% if @rooms.count <= 0 %>
      <li class="list-group-item">
        <p>No rooms found for that area.</p>
      </li>
      <% end %>

      <% @rooms.each do |room| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6"><span class='h3'><%= room.name %></span></div>
          <div class="col-sm-6 text-right">
            <%= link_to "See More", room_path(room), class: "btn btn-info" %>
            <%= link_to "Edit", edit_room_path(room), class: "btn btn-success" %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>