<div class="row" ng-controller="roomsCtrl">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item text-right">
        <a href="/rooms/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add New</a>
      </li>
      <li class="list-group-item" ng-repeat="room in rooms">
        <div class="row">
          <div class="col-sm-6"><span class='h3'>{{ room.name }}</span></div>
          <div class="col-sm-6 text-right">
            <a href="/rooms/{{ room.id }}" class="btn btn-info">See more</a>
            <a href="/rooms/{{ room.id }}/edit" class="btn btn-success">Edit</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>